<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
<div class="container">
  <div class="about content">
    <h2>About Me</h2>
    <p>My name is Patrik and I am trying to be web developer and this is my first back-end project.</p>
  </div>
</div>
 
</body>
</html>